---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Trustable",
    description: "Worry free payments",
    icon: "mdi:handshake",
  },
  {
    title: "Fast Delivery",
    description: "We make sure that you get your products ASAP",
    icon: "mdi:feather",
  },
  {
    title: "Returns and Replacements",
    description:
      "Feel like the size is not right ? Feel free to return it. (*Returns may not be available for a some products)",
    icon: "mdi:directions-fork",
  },
  {
    title: "Style Integrity",
    description: "Our Collections integrate into a cohesive style",
    icon: "mdi:graph",
  },
  {
    title: "Broad Collection",
    description:
      "Never run out of styles to try out!",
    icon: "mdi:search-web",
  },
  {
    title: "Bulk orders",
    description:
      "Want to pick clothing for an event or for a lot of people? We got your back!",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="About us" id="features">
  <!-- <Fragment slot="lead">
    <span class="text-primary">batteries included</span>. It takes the best
    parts of
    <span class="text-primary">state-of-the-art</span>
    tools and adds its own <span class="text-primary">innovations</span>.
  </Fragment> -->
  <Fragment slot="lead">
    With nearly 15 years of experience in the clothing manufacturing industry, we have honed our skills to deliver top-notch quality products. </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
