---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Style up" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-22" />
  <Fragment slot="lead">
    Welcome to PinkSlip, where style meets <span class="text-primary"
      >affordability</span
    > and consistent <span class="text-primary">quality</span>.
  </Fragment>
</ContentSection>
