---
import ContentSection from "~/components/content-section.astro";
---
<ContentSection title="Pricing" id="pricing">
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }
        th, td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }
      </style>

        <div>
            <table>
              <thead>
                <tr>
                  <th>Material</th>
                  <th>Price (INR)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> Loopnet FS </td>
                  <td>   380  </td>
                </tr>
                <tr>
                  <td>Loopnet HS</td>
                  <td>440</td>
                </tr>
                <tr>
                  <td>Hoodie FS</td>
                  <td>500</td>
                </tr>
                <tr>
                  <td>Cotton (220 gsm)</td>
                  <td>370</td>
                </tr>
                <tr>
                  <td>Cotton (180 gsm)</td>
                  <td>300</td>
                </tr>
                <tr>
                  <td>Sports polyester</td>
                  <td>290</td>
                </tr>
              </tbody>
            </table>
          </div>

        <span class="text-center text-xs" ><em>*Please note that prices are subject to change </em></span>
  </ContentSection>
