---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import { getShowcase } from "~/data/showcase";

const sites = await getShowcase();
---

<ContentSection title="Showcase" id="showcase">
  <Fragment slot="lead">
    Our Clothing is <span class="text-primary">versatile</span>.{" "}
    <span class="text-primary">Check out</span> what's possible and become a{
      " "
    }
    <span class="text-primary">Rizz Master</span> yourself.
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {sites.map((site) => <ShowcaseCard site={site} />)}
    </div>
  </div>
</ContentSection>
